<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>

        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap" rel="stylesheet">

        <style>
           * {
                font-size: 25px;
           }
           
        </style>

    </head>
    <body>
        <p class = "example1">Example1 : 기본 지도 <a href="/example1">Go</a></p>
        <p class = "example2">Example2 : 마커로 위치표시 <a href="/example2">Go</a></p>
        <p class = "example2">Example3 : 위치이동 <a href="/example3">Go</a></p>
    </body>
    </body>
</html>