<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>위치이동</title>
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=&submodules=geocoder"></script>
</head>
<body>
<div id="map" style="width:100%;height:800px;"></div>

<script>
var map = new naver.maps.Map("map", {
  center: new naver.maps.LatLng(37.3595316, 127.1052133),
  zoom: 15,
  mapTypeControl: true
});

// var jeju = new naver.maps.LatLng(33.3590628, 126.534361),
//     busan = new naver.maps.LatLng(35.1797865, 129.0750194),
//     dokdo = new naver.maps.LatLngBounds(
//                 new naver.maps.LatLng(37.2380651, 131.8562652),
//                 new naver.maps.LatLng(37.2444436, 131.8786475)),
//     seoul = new naver.maps.LatLngBounds(
//                 new naver.maps.LatLng(37.42829747263545, 126.76620435615891),
//                 new naver.maps.LatLng(37.7010174173061, 127.18379493229875));
// // 
// $("#to-jeju").on("click", function(e) {
//     e.preventDefault();

//     map.setCenter(jeju);
// });

// $("#to-dokdo").on("click", function(e) {
//     e.preventDefault();

//     map.fitBounds(dokdo);
// });

// $("#to-busan").on("click", function(e) {
//     e.preventDefault();

//     map.panTo(busan);
// });

// $("#to-seoul").on("click", function(e) {
//     e.preventDefault();

//     map.panToBounds(seoul);
// });



</script>
</body>
</html>